footer {
	background: $slate;
	color: $white;
	padding: 60px 0;

	.actions {
		font-family: $montserrat;
		text-align: center;
		padding: 0 0 60px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: flex-end;

		.action {
			width: 100%;

			@include tablet-portrait {
				width: auto;
			}

			& + .action {
				padding-top: 75px;

				@include tablet-portrait {
					padding-top: 0;
					padding-left: 50px;
				}
			}
		}

		h4 {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			font-size: 0.8125em;
			line-height: 1.5em;
			text-align: center;
			font-family: $brandon;
			max-width: 300px;
			margin: 0 auto;
		}

		.cta {
			padding-top: 30px;
			a.btn {
				border: 2px solid $white;
				background: transparent;
				color: $white;
				padding: 10px 16px 8px 16px;
				border-radius: 5px;
				text-transform: uppercase;
				font-size: 0.75em;
				letter-spacing: 0.1em;
				font-weight: bold;
				font-family: $brandon;

				&:hover {
					background: $white;
					color: $slate;
				}
			}
		}


	}

	.hrg {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding: 60px 0 0 0;

		h4 {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			font-size: 0.75em;
			line-height: 1.5em;
			text-align: center;
			font-family: $brandon;

			@include tablet-portrait {
				line-height: 1em;
				padding: 0 0 20px 0;

				br {
					display: none;
				}
			}

			a {
				color: $white;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.hrg-wrapper {

			.row {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				@include tablet-portrait {
					padding: 15px 0;
				}

				@include tablet-landscape {
					max-width: 80%;
					margin: 0 auto;
				}
			}

			.logo {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 25px 0;

				@include tablet-portrait {
					width: auto;
					padding: 0;

					& + .logo {
						&:before {
							content: "·";
							display: block;
							padding: 0 10px;
							font-weight: 900;
							font-size: 1.5em;
						}
					}
				}

				a {
					font-family: $brandon;
					color: $white;
					text-transform: uppercase;
					text-align: center;
					font-weight: bold;
					letter-spacing: 0.1em;
					font-size: 0.8125em;

					&:hover {
						text-decoration: underline;
					}
				}




			}
		}
	}

}

section#comment-card {
	display: none;
	padding: 25px;

	.header {
		text-align: center;
		padding: 0 0 25px 0;

		h3 {
			font-size: 3em;
		}

		p {
			padding: 10px 0 0 0;
			font-style: italic;
		}
	}

	.form {
		div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
		div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
		div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
			max-width: 100%;
		}
		label {
			text-transform: uppercase;
			font-size: 1em;
			font-weight: 400;

			&.wpforms-field-sublabel {
				text-transform: none;
			}

			&.wpforms-error {
				padding: 10px 0 0 0;
				display: block;
			}
		}

		textarea {
			padding: 10px;
		}

		div.wpforms-container-full .wpforms-form button[type=submit] {
			border-radius: 2px;
			font-size: 1.25em;
			padding: 14px 20px 11px 20px;
			color: $white;
		}

		div.wpforms-container-full .wpforms-form .wpforms-field-description {
			font-size: 1.125em;
			font-style: italic;
			margin-top: 3px;
		}
	}

	.wpforms-confirmation-container-full {
		background: none;
		border: none;
		padding: 25px 0 0 0;
	}
}

section#newsletter-subscribe {
	display: none;
	padding: 25px;

	.overlay-wrapper {
		padding: 100px 50px;
	}

	#mc_embed_signup div.mce_inline_error {
		background-color: #f00;
		font-weight: normal;
		margin: 10px 0 0 0;
		font-family: $brandon;
		font-size: 1em;
		padding: 12px 12px;
	}

	#mce-responses {
		margin-top: 10px;


		.response {
			font-size: 0.875em;
			line-height: 1.25em;
		}
	}
	
	form {


		p {
			width: 100%;
			display: block;
			padding: 0 0 25px 0;
			font-weight: normal;
			font-size: 1.125em;
			line-height: 1.125em;
			font-family: $brandon;

			@include tablet-portrait {
				font-size: 1.75em;
			}
		}

		.form-wrapper {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			.mc-field-group {
				width: 100%;

				@include tablet-portrait {
					width: auto;
					flex: 1;
				}
			}

			.clear {
				width: 100%;

				@include tablet-portrait {
					width: auto;
				}
			}
		}

		input[type="email"] {
			width: 100%;				
			border: none;
			padding: 12px 15px 10px 15px;
			font-family: $brandon;
			font-weight: 500;
			border: 2px solid $slate;

			&::placeholder {
				color: $slate;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		.button {
			border: 2px solid;
			background: transparent;
			color: $slate;
			margin-top: 10px;
			
			padding: 18px 16px 15px 16px;
			border-radius: 5px;
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			font-weight: bold;
			font-family: $brandon;
			transition: all 0.2s ease-in-out;

			@include tablet-portrait {
				margin: 0 0 0 10px;
			}

			&:hover {
				background: $slate;
				color: $white;
				border: 2px solid $slate;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}