body.page-template-group-dining {


	section.group-dining {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}	
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 25px 0 0 0;

		.photo {
			width: 100%;

			& + .photo {
				padding-top: 10px;
			}

			@include mobile-landscape {
				width: 32.3333%;

				& + .photo {
					padding-top: 0;
				}
			}
		}
	}

	.copy {
		padding: 75px 0 25px 0;
		max-width: 960px;
		margin: 0 auto;
		text-align: center;

		p {
			font-size: 1.5em;
			line-height: 1.25em;

			@include tablet-portrait {
				font-size: 1.75em;
			}

			& + p {
				padding: 25px 0 0 0;
			}
		}

	}

	.contact-info {
		padding: 50px 0 0 0;
		max-width: 720px;
		margin: 25px auto 0 auto;
		border-top: 1px solid;
		text-align: center;

		p {
			font-size: 1.25em;
			line-height: 1.25em;

			@include tablet-portrait {
				font-size: 1.375em;
			}

			& + p {
				padding: 25px 0 0 0;
			}
		}

		.brochure {
			padding: 50px 0 0 0;

			.cta {
				display: inline-block;
				text-transform: uppercase;
				border: 1px solid;
				padding: 12px 20px 10px 20px;
				border-radius: 4px;
			}
		}

	}




}