nav.desktop {
	padding: 20px 0;

	.wrapper {
		display: flex;
		justify-content: center;
	}

	.hrg-links,
	.social {
		display: flex;
		align-items: center;
		height: 16px;

		a {
			text-indent: -9999px;
			display: block;
		}
	}

	.social {
		position: absolute;
		right: 25px;

		@include tablet-portrait {
			right: 50px;
		}

		@media screen and (min-width: 1250px) {
			right: 0;
		}

		a  {
			margin-left: 30px;
		}
	}

	.hrg-links {

		a  {
			margin-right: 30px;
		}
	}

	.main-nav {
		display: none;

		@include tablet-landscape {
			display: block;
		}

		a {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			font-size: 0.875em;


			&:after {
				content: "·";
				display: inline-block;
				padding: 0 30px;
			}

			&:last-of-type:after {
				display: none;
				padding: 0;
			}
		}
	}
}

header {

	.header-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-top: 2px solid #1a1a1a;
		border-bottom: 2px solid #1a1a1a;
		padding: 40px 0;

		& > * {
			width: 100%;
		}
	}

	.logo {
		order: -1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include tablet-landscape {
			width: 50%;
		}

		.image {
			width: 80%;

			@include tablet-landscape {
				width: 100%;
			}

			img {
				max-width: 250px;

				@include mobile-landscape {
					max-width: 300px;
					margin: 0 auto;
					transform: translateX(25%);

				}

				@include tablet-landscape {
					transform: translateX(0);

				}
			}
		}

		.mobile-menu-btn {
			width: 20%;
			display: flex;
			justify-content: flex-end;
		}
	}

	.info{
		text-align: center;
		padding: 50px 0 0 0;

		h3 {
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: bold;
			padding: 0 0 10px 0;
		}

		@include mobile-landscape {
			width: 50%;
		}

		@include tablet-landscape {
			width: 25%;
			padding: 0;

			&.left {
				order: -1;
			}
		}

		p {
			font-size: 0.875em;
			line-height: 1.75em;
			font-style: italic;
		}
	}
}

section.call-to-actions {
	padding: 0 0 30px 0;

	@include tablet-portrait {
		padding: 30px 0;
	}


	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		& > * {
			width: 100%;
			text-align: center;
			padding: 25px 0 0 0;

			@include tablet-portrait {
				width: auto;
				padding: 0 15px;
			}

			@include tablet-landscape {
				padding: 0 25px;
			}
		}
	}

	.btn {
		a {
			display: inline-block;
			padding: 12px 16px 10px 16px;
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-weight: bold;
			border: 1px solid;
		}
		
	}


	.text {
		@media screen and (max-width: 767px) {
			order: -1;
		}

		p {
			font-size: 1em;
			font-style: italic;
		}
	}
}


nav.mobile {
	display: none;
	width: 100%;
	padding: 50px 0;
	border-bottom: 1px solid #d5d5d5;

	@include tablet-landscape {
		display: none !important;
	}

	.wrapper {

	}

	.hrg-links,
	.social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px 0 0 0;

		a {
			text-indent: -9999px;
			display: block;
			margin: 0 20px;
		}
	}

	.main-nav {
		text-align: center;

		a {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			font-size: 0.875em;
			display: block;
			padding: 10px;
		}
	}

}



#toggle {
    cursor: pointer;
    padding: 16px 8px;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    display: block;

    @include tablet-landscape {
    	display: none;
    }

	.patty {
	    width: 30px;
	    height: 3px;
	    background: $green;
	    transition: all 0.3s;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 30px;
		    height: 3px;
		    background: $green;
		    position: absolute;
		    z-index: 1;
		    transition: all 0.3s;
		}
		&:before {
		    top: -8px;
		}
		&:after {
		    top: 8px;
		}
	}
}

header.open {

	#toggle .patty {
		background: none;

		&:after {
		    top: 0;
		    transform: rotate(45deg);
		}
		&:before {
		    top: 0;
		    transform: rotate(-45deg);
		}
	}

}

nav .social a {

	&.facebook {
		width: 8px;
		height: 16px;
	}

	&.twitter {
		width: 16px;
		height: 14px;
		margin-top: 2px;
	}


	&.instagram {
		width: 16px;
		height: 16px;
	}

	&.newsletter {
		width: 16px;
		height: 16px;
	}
}

