


body.blog,
body.archive {
	background: #fafafa;
}

body.tag {

	section#blog-header {

		.header {
			width: 100%;



			em {
				font-family: $libre;
				color: #1a1a1a;
				font-size: 0.875em;
				padding: 0 0 10px 0;
				display: block;

				@include tablet-landscape {
					font-size: 1.125em;
				}
			}

			h2 {
				font-weight: 900;
				color: $red;
				font-size: 2em;

				@include tablet-landscape {
					font-size: 3em;
				}
			}

		}

	}
}