body.page-template-marketplace {

	section.marketplace {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.section-header {
			padding: 0 0 50px 0;
			text-align: center;

			.description {
				padding-top: 25px;
				max-width: 800px;
				margin: 0 auto;

				p {
					line-height: 1.375em;
				}
			}
		}

		section#shop {
			display: grid;
			gap: 50px 25px;
			grid-template-columns: repeat(1, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}

			.shop-item {
				text-align: center;

				.photo {
					a {
						display: block;
						position: relative;
					}
				}

				.info {
					padding: 10px 0 0 0;

					a.title {
						font-size: 1.25rem;
					}
				}

				&.coming-soon {


					.photo {
						@include aspect-ratio(800, 515);
					border: 2px dashed;
					border-radius: 5px;
						.content {
							display: flex;
							justify-content: center;
							align-items: center;

							span {
								display: block;
								font-size: 1.25rem;
								font-style: italic;
							}
						}
					}
				}
			}
		}
	}
}