body.page-template-menu {

	section.menu {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.wrapper {
			max-width: 1202px;
		}

		.section-header {
			padding: 0 0 40px 0;
			text-align: center;
		}
	}

	section#menu-list {
		display: grid;
		gap: 75px 32px;
		grid-template-columns: repeat(1, 1fr);

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.menu-item {
		text-align: center;

		.photo {
			@include aspect-ratio(4, 3);

			a {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;

				&:hover {
					span.pdf {
						opacity: 1;
					}
				}
			}

			.menu-photo {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			span.pdf {
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
				position: absolute;
				background: rgba(47, 46, 45, 0.75);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 100%;
					max-width: 48px;
				}
			}
		}

		.info {
			padding: 15px 0 0 0;

			a.title {
				font-size: 1.5em;
			}
		}
	}
}