body.single-post {
	background: #fafafa;

	section#featured-image {
		max-width: 1200px;
		margin: 0 auto;
		height: 260px;

		@include mobile-landscape {
			height: 420px;
		}

		@include tablet-landscape {
			height: 550px;
			margin: 40px auto 0 auto;
		}

		@include desktop {
			height: 690px;
		}
	}

	article {
		font-family: $montserrat;
		max-width: 1120px;
		width: 90%;
		margin: 0 auto;
		top: -40px;
		box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);


		.article-header,
		.article-body,
		.article-footer {
			background: $white;
			padding: 30px;

			@include mobile-landscape {
				padding: 40px;
			}
		}

		.article-header {
			padding-bottom: 0;

			h1 {
				font-weight: 900;
				color: $slate;
				font-size: 2em;

				@include tablet-portrait {
					font-size: 2.75em;
				}
			}

			span.date {
				font-family: $montserrat;
				font-size: 0.875em;
				display: block;
				padding: 0 0 10px 0;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}

			span.author {
				font-family: $montserrat;
				font-weight: 500;
				color: $slate;
				font-size: 1.125em;
				display: block;
				padding: 10px 0 0 0;
			}
		}

		.article-body {

			& > * + * {
				padding: 30px 0 0 0;

				@include tablet-portrait {
					padding: 40px 0 0 0;
				}
			}

			p, ul, ol {
				font-size: 1em;
				line-height: 1.6666em;

				@include tablet-portrait {
					font-size: 1.125em;
				}

			}

			ul, ol {
				max-width: 560px;
				padding-left: 30px;

				@include tablet-portrait {
					padding-left: 60px;
				}

				li {
					margin: 0 0 10px 0;
				}
			}

			ul {
				li {
					list-style-type: disc;
				}
			}

			ol {
				li {
					list-style-type: decimal;
				}
			}

			h1, h2, h3, h4, h5, h6 {
				color: $green;
				padding-top: 40px;

				@include tablet-portrait {
					padding-top: 60px;
				}

				& + * {
					padding-top: 10px;
				}

			}

			h2, h1 {
				font-size: 1.5em;

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}

			h3 {
				font-size: 1.25em;
				text-transform: uppercase;
				letter-spacing: 0.02em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}

			h4{
				font-size: 1em;
				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

			h5, h6 {
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.02em;
			}

			a {
				text-decoration: underline;
			}

			blockquote {
				padding-left: 30px;
				padding-top: 5px;
				padding-bottom: 5px;
				border-left: 5px solid $light-gray;
				max-width: 540px;
				margin: 30px 0 0 0;

				@include tablet-portrait {
					font-size: 1.25em;
					margin: 40px 0 0 0;
				}

				@include tablet-portrait {
					margin: 40px 0 0 40px;
				}

				p {
					font-size: 0.8125em;
					line-height: 2em;
				}
			}

			img {
				margin: 0 0 30px 0;
			}


		}


		.article-footer {
			padding-bottom: 60px;
			.tags {
				border-top: 1px solid #d5d5d5;
				padding-top: 20px;

				a {
					font-family: $montserrat;
					text-transform: uppercase;
					font-size: 0.8125em;
					font-weight: 500;
					color: #aaa;
					display: inline-block;

					& + a {
						margin-left: 20px;

					}

					&:before {
						content: '#';
					}
				}
			}

			.about {
				padding-top: 40px;

				p {
					font-size: 0.875em;
					font-style: italic;
					color: #8a8a8a;
				}
			}

			.share {
				padding-top: 40px;

				h5 {
					text-transform: uppercase;
					color: $blue;
				}

				.links {
					padding-top: 20px;
					display: flex;

					a {
						display: block;

						& + a {
							margin-left: 10px;
						}
					}
				}
			}


		}



	}

}