body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}