html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $montserrat;
	font-weight: bold;
}

a {
	color: $green;
	transition: color 0.2s ease-in-out;
}

a[href^="tel:"] {
	text-decoration: underline;
}