@charset "UTF-8";
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://use.typekit.net/clt3euh.css");
/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #278CAE;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #278CAE;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #1a1a1a;
  font: 400 100%/1 "Montserrat", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

a {
  color: #27AE60;
  transition: color 0.2s ease-in-out; }

a[href^="tel:"] {
  text-decoration: underline; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  z-index: 100;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.4; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 20px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 20px; }
  @media screen and (min-width: 1280px) {
    .slick-prev {
      left: 40px; }
      [dir="rtl"] .slick-prev {
        left: auto;
        right: 40px; } }
  .slick-prev:before {
    background: url(images/left-arrow.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

.slick-next {
  right: 20px; }
  [dir="rtl"] .slick-next {
    left: 20px;
    right: auto; }
  @media screen and (min-width: 1280px) {
    .slick-next {
      right: 40px; }
      [dir="rtl"] .slick-next {
        left: 40px;
        right: auto; } }
  .slick-next:before {
    background: url(images/right-arrow.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  @media screen and (min-width: 568px) {
    .slick-dots {
      bottom: 15px; } }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      width: 12px;
      height: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        background-color: #fff;
        opacity: 0.4;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #fff;
      opacity: 0.85; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
nav.desktop {
  padding: 20px 0; }
  nav.desktop .wrapper {
    display: flex;
    justify-content: center; }
  nav.desktop .hrg-links,
  nav.desktop .social {
    display: flex;
    align-items: center;
    height: 16px; }
    nav.desktop .hrg-links a,
    nav.desktop .social a {
      text-indent: -9999px;
      display: block; }
  nav.desktop .social {
    position: absolute;
    right: 25px; }
    @media screen and (min-width: 768px) {
      nav.desktop .social {
        right: 50px; } }
    @media screen and (min-width: 1250px) {
      nav.desktop .social {
        right: 0; } }
    nav.desktop .social a {
      margin-left: 30px; }
  nav.desktop .hrg-links a {
    margin-right: 30px; }
  nav.desktop .main-nav {
    display: none; }
    @media screen and (min-width: 1024px) {
      nav.desktop .main-nav {
        display: block; } }
    nav.desktop .main-nav a {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 0.875em; }
      nav.desktop .main-nav a:after {
        content: "·";
        display: inline-block;
        padding: 0 30px; }
      nav.desktop .main-nav a:last-of-type:after {
        display: none;
        padding: 0; }

header .header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  padding: 40px 0; }
  header .header-wrapper > * {
    width: 100%; }

header .logo {
  order: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    header .logo {
      width: 50%; } }
  header .logo .image {
    width: 80%; }
    @media screen and (min-width: 1024px) {
      header .logo .image {
        width: 100%; } }
    header .logo .image img {
      max-width: 250px; }
      @media screen and (min-width: 568px) {
        header .logo .image img {
          max-width: 300px;
          margin: 0 auto;
          transform: translateX(25%); } }
      @media screen and (min-width: 1024px) {
        header .logo .image img {
          transform: translateX(0); } }
  header .logo .mobile-menu-btn {
    width: 20%;
    display: flex;
    justify-content: flex-end; }

header .info {
  text-align: center;
  padding: 50px 0 0 0; }
  header .info h3 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 0 0 10px 0; }
  @media screen and (min-width: 568px) {
    header .info {
      width: 50%; } }
  @media screen and (min-width: 1024px) {
    header .info {
      width: 25%;
      padding: 0; }
      header .info.left {
        order: -1; } }
  header .info p {
    font-size: 0.875em;
    line-height: 1.75em;
    font-style: italic; }

section.call-to-actions {
  padding: 0 0 30px 0; }
  @media screen and (min-width: 768px) {
    section.call-to-actions {
      padding: 30px 0; } }
  section.call-to-actions .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    section.call-to-actions .wrapper > * {
      width: 100%;
      text-align: center;
      padding: 25px 0 0 0; }
      @media screen and (min-width: 768px) {
        section.call-to-actions .wrapper > * {
          width: auto;
          padding: 0 15px; } }
      @media screen and (min-width: 1024px) {
        section.call-to-actions .wrapper > * {
          padding: 0 25px; } }
  section.call-to-actions .btn a {
    display: inline-block;
    padding: 12px 16px 10px 16px;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    border: 1px solid; }
  @media screen and (max-width: 767px) {
    section.call-to-actions .text {
      order: -1; } }
  section.call-to-actions .text p {
    font-size: 1em;
    font-style: italic; }

nav.mobile {
  display: none;
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid #d5d5d5; }
  @media screen and (min-width: 1024px) {
    nav.mobile {
      display: none !important; } }
  nav.mobile .hrg-links,
  nav.mobile .social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0; }
    nav.mobile .hrg-links a,
    nav.mobile .social a {
      text-indent: -9999px;
      display: block;
      margin: 0 20px; }
  nav.mobile .main-nav {
    text-align: center; }
    nav.mobile .main-nav a {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 0.875em;
      display: block;
      padding: 10px; }

#toggle {
  cursor: pointer;
  padding: 16px 8px;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  display: block; }
  @media screen and (min-width: 1024px) {
    #toggle {
      display: none; } }
  #toggle .patty {
    width: 30px;
    height: 3px;
    background: #27AE60;
    transition: all 0.3s; }
    #toggle .patty:after, #toggle .patty:before {
      content: '';
      display: block;
      width: 30px;
      height: 3px;
      background: #27AE60;
      position: absolute;
      z-index: 1;
      transition: all 0.3s; }
    #toggle .patty:before {
      top: -8px; }
    #toggle .patty:after {
      top: 8px; }

header.open #toggle .patty {
  background: none; }
  header.open #toggle .patty:after {
    top: 0;
    transform: rotate(45deg); }
  header.open #toggle .patty:before {
    top: 0;
    transform: rotate(-45deg); }

nav .social a.facebook {
  width: 8px;
  height: 16px; }

nav .social a.twitter {
  width: 16px;
  height: 14px;
  margin-top: 2px; }

nav .social a.instagram {
  width: 16px;
  height: 16px; }

nav .social a.newsletter {
  width: 16px;
  height: 16px; }

footer {
  background: #1a1a1a;
  color: #fff;
  padding: 60px 0; }
  footer .actions {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 0 0 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end; }
    footer .actions .action {
      width: 100%; }
      @media screen and (min-width: 768px) {
        footer .actions .action {
          width: auto; } }
      footer .actions .action + .action {
        padding-top: 75px; }
        @media screen and (min-width: 768px) {
          footer .actions .action + .action {
            padding-top: 0;
            padding-left: 50px; } }
    footer .actions h4 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 0.8125em;
      line-height: 1.5em;
      text-align: center;
      font-family: brandon-grotesque, sans-serif;
      max-width: 300px;
      margin: 0 auto; }
    footer .actions .cta {
      padding-top: 30px; }
      footer .actions .cta a.btn {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        padding: 10px 16px 8px 16px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: brandon-grotesque, sans-serif; }
        footer .actions .cta a.btn:hover {
          background: #fff;
          color: #1a1a1a; }
  footer .hrg {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 60px 0 0 0; }
    footer .hrg h4 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 0.75em;
      line-height: 1.5em;
      text-align: center;
      font-family: brandon-grotesque, sans-serif; }
      @media screen and (min-width: 768px) {
        footer .hrg h4 {
          line-height: 1em;
          padding: 0 0 20px 0; }
          footer .hrg h4 br {
            display: none; } }
      footer .hrg h4 a {
        color: #fff; }
        footer .hrg h4 a:hover {
          text-decoration: underline; }
    footer .hrg .hrg-wrapper .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      @media screen and (min-width: 768px) {
        footer .hrg .hrg-wrapper .row {
          padding: 15px 0; } }
      @media screen and (min-width: 1024px) {
        footer .hrg .hrg-wrapper .row {
          max-width: 80%;
          margin: 0 auto; } }
    footer .hrg .hrg-wrapper .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0; }
      @media screen and (min-width: 768px) {
        footer .hrg .hrg-wrapper .logo {
          width: auto;
          padding: 0; }
          footer .hrg .hrg-wrapper .logo + .logo:before {
            content: "·";
            display: block;
            padding: 0 10px;
            font-weight: 900;
            font-size: 1.5em; } }
      footer .hrg .hrg-wrapper .logo a {
        font-family: brandon-grotesque, sans-serif;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 0.8125em; }
        footer .hrg .hrg-wrapper .logo a:hover {
          text-decoration: underline; }

section#comment-card {
  display: none;
  padding: 25px; }
  section#comment-card .header {
    text-align: center;
    padding: 0 0 25px 0; }
    section#comment-card .header h3 {
      font-size: 3em; }
    section#comment-card .header p {
      padding: 10px 0 0 0;
      font-style: italic; }
  section#comment-card .form div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
  section#comment-card .form div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
  section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100%; }
  section#comment-card .form label {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400; }
    section#comment-card .form label.wpforms-field-sublabel {
      text-transform: none; }
    section#comment-card .form label.wpforms-error {
      padding: 10px 0 0 0;
      display: block; }
  section#comment-card .form textarea {
    padding: 10px; }
  section#comment-card .form div.wpforms-container-full .wpforms-form button[type=submit] {
    border-radius: 2px;
    font-size: 1.25em;
    padding: 14px 20px 11px 20px;
    color: #fff; }
  section#comment-card .form div.wpforms-container-full .wpforms-form .wpforms-field-description {
    font-size: 1.125em;
    font-style: italic;
    margin-top: 3px; }
  section#comment-card .wpforms-confirmation-container-full {
    background: none;
    border: none;
    padding: 25px 0 0 0; }

section#newsletter-subscribe {
  display: none;
  padding: 25px; }
  section#newsletter-subscribe .overlay-wrapper {
    padding: 100px 50px; }
  section#newsletter-subscribe #mc_embed_signup div.mce_inline_error {
    background-color: #f00;
    font-weight: normal;
    margin: 10px 0 0 0;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1em;
    padding: 12px 12px; }
  section#newsletter-subscribe #mce-responses {
    margin-top: 10px; }
    section#newsletter-subscribe #mce-responses .response {
      font-size: 0.875em;
      line-height: 1.25em; }
  section#newsletter-subscribe form p {
    width: 100%;
    display: block;
    padding: 0 0 25px 0;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.125em;
    font-family: brandon-grotesque, sans-serif; }
    @media screen and (min-width: 768px) {
      section#newsletter-subscribe form p {
        font-size: 1.75em; } }
  section#newsletter-subscribe form .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    section#newsletter-subscribe form .form-wrapper .mc-field-group {
      width: 100%; }
      @media screen and (min-width: 768px) {
        section#newsletter-subscribe form .form-wrapper .mc-field-group {
          width: auto;
          flex: 1; } }
    section#newsletter-subscribe form .form-wrapper .clear {
      width: 100%; }
      @media screen and (min-width: 768px) {
        section#newsletter-subscribe form .form-wrapper .clear {
          width: auto; } }
  section#newsletter-subscribe form input[type="email"] {
    width: 100%;
    border: none;
    padding: 12px 15px 10px 15px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    border: 2px solid #1a1a1a; }
    section#newsletter-subscribe form input[type="email"]::-moz-placeholder {
      color: #1a1a1a; }
    section#newsletter-subscribe form input[type="email"]:-ms-input-placeholder {
      color: #1a1a1a; }
    section#newsletter-subscribe form input[type="email"]::-ms-input-placeholder {
      color: #1a1a1a; }
    section#newsletter-subscribe form input[type="email"]::placeholder {
      color: #1a1a1a; }
    section#newsletter-subscribe form input[type="email"]:active, section#newsletter-subscribe form input[type="email"]:focus {
      outline: none; }
  section#newsletter-subscribe form .button {
    border: 2px solid;
    background: transparent;
    color: #1a1a1a;
    margin-top: 10px;
    padding: 18px 16px 15px 16px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: brandon-grotesque, sans-serif;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 768px) {
      section#newsletter-subscribe form .button {
        margin: 0 0 0 10px; } }
    section#newsletter-subscribe form .button:hover {
      background: #1a1a1a;
      color: #fff;
      border: 2px solid #1a1a1a; }
    section#newsletter-subscribe form .button:active, section#newsletter-subscribe form .button:focus {
      outline: none; }

/*

    ----------------------------------------------------------------------
                                03 Partials
    ----------------------------------------------------------------------

*/
@media screen and (min-width: 768px) {
  section#announcement {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000; } }

section#announcement .wrapper {
  max-width: 100%;
  padding: 0; }

section#announcement .announcement-wrapper {
  padding: 14px 10px 10px 10px;
  text-align: center; }
  section#announcement .announcement-wrapper p {
    line-height: 1.375em;
    font-size: 0.875rem; }
    @media screen and (min-width: 768px) {
      section#announcement .announcement-wrapper p {
        font-size: 1rem; } }
    section#announcement .announcement-wrapper p a {
      text-decoration: underline; }

.overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(47, 46, 45, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }
  .overlay.show {
    opacity: 1;
    z-index: 10000; }

.overlay-wrapper {
  background: #fff;
  max-width: 640px;
  padding: 50px;
  border-radius: 2px;
  box-shadow: 0 0 24px rgba(47, 46, 45, 0.5);
  max-height: 100vh;
  overflow: scroll; }

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 2em; }

.popup {
  position: absolute;
  top: -56px;
  left: -8px;
  width: auto !important;
  z-index: 10; }
  @media screen and (min-width: 1024px) {
    .popup {
      top: -64px;
      left: -8px; } }
  .popup-link, .popup-trigger {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    width: 84px;
    height: 84px;
    font-size: 0.875rem;
    padding: 5px; }
    .popup-link:hover, .popup-trigger:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); }
    @media screen and (min-width: 1280px) {
      .popup-link, .popup-trigger {
        width: 96px;
        height: 96px;
        font-size: 1rem;
        padding: 10px; } }

.popup-overlay {
  display: none; }
  .popup-overlay .overlay-wrapper {
    padding: 10px; }
    .popup-overlay .overlay-wrapper.photo-and-text {
      padding: 20px; }
  .popup-overlay .close {
    z-index: 15;
    color: #000; }
  .popup-overlay .info {
    width: 100%;
    text-align: left;
    padding: 20px 0 0 0; }
    .popup-overlay .info .headline h3 {
      font-size: 1.5rem;
      line-height: 1em;
      padding: 0;
      font-family: sans-serif;
      color: #000; }
      @media screen and (min-width: 768px) {
        .popup-overlay .info .headline h3 {
          font-size: 1.75rem; } }
    .popup-overlay .info .headline + .sub-headline {
      padding-top: 10px; }
    .popup-overlay .info .sub-headline h4 {
      font-weight: bold;
      line-height: 1.25em;
      font-family: sans-serif;
      color: #000; }
    .popup-overlay .info .copy {
      padding-top: 10px; }
      .popup-overlay .info .copy p {
        font-family: sans-serif;
        color: #000; }
    .popup-overlay .info .btn {
      padding-top: 30px; }
      .popup-overlay .info .btn a {
        display: inline-block;
        padding: 12px 16px 10px 16px;
        font-size: 1.125rem;
        text-transform: lowercase;
        letter-spacing: 0.05em;
        font-weight: bold;
        border: 1px solid;
        color: #000;
        font-family: sans-serif; }

body.popup-overlay-open {
  overflow: hidden; }

section#heavy-at-home {
  transition: all 0.2s easein; }
  section#heavy-at-home.show .overlay {
    z-index: 100000;
    opacity: 1; }
  section#heavy-at-home .overlay-wrapper {
    width: 100%; }
  section#heavy-at-home .info > * {
    font-family: brandon-grotesque, sans-serif !important; }
  section#heavy-at-home .info .headline h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem; }
    @media screen and (min-width: 768px) {
      section#heavy-at-home .info .headline h1 {
        font-size: 3rem; } }
  section#heavy-at-home .info .copy {
    padding-top: 25px;
    text-align: center; }
    section#heavy-at-home .info .copy p {
      font-size: 1.25rem;
      line-height: 1.25em; }
      @media screen and (min-width: 768px) {
        section#heavy-at-home .info .copy p {
          font-size: 1.875rem; } }
      section#heavy-at-home .info .copy p + p {
        padding-top: 20px; }
      section#heavy-at-home .info .copy p a {
        font-weight: bold;
        text-decoration: underline; }
  section#heavy-at-home .info .cta {
    padding-top: 25px;
    text-align: center; }
    section#heavy-at-home .info .cta .btn {
      display: inline-block;
      color: #278CAE;
      display: inline-block;
      padding: 12px 24px 10px 24px;
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: bold;
      border: 2px solid; }
      section#heavy-at-home .info .cta .btn:hover {
        background: #278CAE;
        border-color: #278CAE;
        color: #fff; }

/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.blog,
body.archive {
  background: #fafafa; }

body.tag section#blog-header .header {
  width: 100%; }
  body.tag section#blog-header .header em {
    font-family: "Libre Baskerville", serif;
    color: #1a1a1a;
    font-size: 0.875em;
    padding: 0 0 10px 0;
    display: block; }
    @media screen and (min-width: 1024px) {
      body.tag section#blog-header .header em {
        font-size: 1.125em; } }
  body.tag section#blog-header .header h2 {
    font-weight: 900;
    color: #bb2025;
    font-size: 2em; }
    @media screen and (min-width: 1024px) {
      body.tag section#blog-header .header h2 {
        font-size: 3em; } }

body.single-post {
  background: #fafafa; }
  body.single-post section#featured-image {
    max-width: 1200px;
    margin: 0 auto;
    height: 260px; }
    @media screen and (min-width: 568px) {
      body.single-post section#featured-image {
        height: 420px; } }
    @media screen and (min-width: 1024px) {
      body.single-post section#featured-image {
        height: 550px;
        margin: 40px auto 0 auto; } }
    @media screen and (min-width: 1280px) {
      body.single-post section#featured-image {
        height: 690px; } }
  body.single-post article {
    font-family: "Montserrat", sans-serif;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    top: -40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05); }
    body.single-post article .article-header,
    body.single-post article .article-body,
    body.single-post article .article-footer {
      background: #fff;
      padding: 30px; }
      @media screen and (min-width: 568px) {
        body.single-post article .article-header,
        body.single-post article .article-body,
        body.single-post article .article-footer {
          padding: 40px; } }
    body.single-post article .article-header {
      padding-bottom: 0; }
      body.single-post article .article-header h1 {
        font-weight: 900;
        color: #1a1a1a;
        font-size: 2em; }
        @media screen and (min-width: 768px) {
          body.single-post article .article-header h1 {
            font-size: 2.75em; } }
      body.single-post article .article-header span.date {
        font-family: "Montserrat", sans-serif;
        font-size: 0.875em;
        display: block;
        padding: 0 0 10px 0;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
      body.single-post article .article-header span.author {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #1a1a1a;
        font-size: 1.125em;
        display: block;
        padding: 10px 0 0 0; }
    body.single-post article .article-body > * + * {
      padding: 30px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body > * + * {
          padding: 40px 0 0 0; } }
    body.single-post article .article-body p, body.single-post article .article-body ul, body.single-post article .article-body ol {
      font-size: 1em;
      line-height: 1.6666em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body p, body.single-post article .article-body ul, body.single-post article .article-body ol {
          font-size: 1.125em; } }
    body.single-post article .article-body ul, body.single-post article .article-body ol {
      max-width: 560px;
      padding-left: 30px; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body ul, body.single-post article .article-body ol {
          padding-left: 60px; } }
      body.single-post article .article-body ul li, body.single-post article .article-body ol li {
        margin: 0 0 10px 0; }
    body.single-post article .article-body ul li {
      list-style-type: disc; }
    body.single-post article .article-body ol li {
      list-style-type: decimal; }
    body.single-post article .article-body h1, body.single-post article .article-body h2, body.single-post article .article-body h3, body.single-post article .article-body h4, body.single-post article .article-body h5, body.single-post article .article-body h6 {
      color: #27AE60;
      padding-top: 40px; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h1, body.single-post article .article-body h2, body.single-post article .article-body h3, body.single-post article .article-body h4, body.single-post article .article-body h5, body.single-post article .article-body h6 {
          padding-top: 60px; } }
      body.single-post article .article-body h1 + *, body.single-post article .article-body h2 + *, body.single-post article .article-body h3 + *, body.single-post article .article-body h4 + *, body.single-post article .article-body h5 + *, body.single-post article .article-body h6 + * {
        padding-top: 10px; }
    body.single-post article .article-body h2, body.single-post article .article-body h1 {
      font-size: 1.5em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h2, body.single-post article .article-body h1 {
          font-size: 1.75em; } }
    body.single-post article .article-body h3 {
      font-size: 1.25em;
      text-transform: uppercase;
      letter-spacing: 0.02em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h3 {
          font-size: 1.5em; } }
    body.single-post article .article-body h4 {
      font-size: 1em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h4 {
          font-size: 1.25em; } }
    body.single-post article .article-body h5, body.single-post article .article-body h6 {
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.02em; }
    body.single-post article .article-body a {
      text-decoration: underline; }
    body.single-post article .article-body blockquote {
      padding-left: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-left: 5px solid #eee;
      max-width: 540px;
      margin: 30px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body blockquote {
          font-size: 1.25em;
          margin: 40px 0 0 0; } }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body blockquote {
          margin: 40px 0 0 40px; } }
      body.single-post article .article-body blockquote p {
        font-size: 0.8125em;
        line-height: 2em; }
    body.single-post article .article-body img {
      margin: 0 0 30px 0; }
    body.single-post article .article-footer {
      padding-bottom: 60px; }
      body.single-post article .article-footer .tags {
        border-top: 1px solid #d5d5d5;
        padding-top: 20px; }
        body.single-post article .article-footer .tags a {
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-size: 0.8125em;
          font-weight: 500;
          color: #aaa;
          display: inline-block; }
          body.single-post article .article-footer .tags a + a {
            margin-left: 20px; }
          body.single-post article .article-footer .tags a:before {
            content: '#'; }
      body.single-post article .article-footer .about {
        padding-top: 40px; }
        body.single-post article .article-footer .about p {
          font-size: 0.875em;
          font-style: italic;
          color: #8a8a8a; }
      body.single-post article .article-footer .share {
        padding-top: 40px; }
        body.single-post article .article-footer .share h5 {
          text-transform: uppercase;
          color: #278CAE; }
        body.single-post article .article-footer .share .links {
          padding-top: 20px;
          display: flex; }
          body.single-post article .article-footer .share .links a {
            display: block; }
            body.single-post article .article-footer .share .links a + a {
              margin-left: 10px; }

body.page-template-menu section.menu {
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-menu section.menu {
      padding: 80px 0; } }
  body.page-template-menu section.menu .wrapper {
    max-width: 1202px; }
  body.page-template-menu section.menu .section-header {
    padding: 0 0 40px 0;
    text-align: center; }

body.page-template-menu section#menu-list {
  display: grid;
  gap: 75px 32px;
  grid-template-columns: repeat(1, 1fr); }
  @media screen and (min-width: 568px) {
    body.page-template-menu section#menu-list {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 768px) {
    body.page-template-menu section#menu-list {
      grid-template-columns: repeat(3, 1fr); } }

body.page-template-menu .menu-item {
  text-align: center; }
  body.page-template-menu .menu-item .photo {
    position: relative; }
    body.page-template-menu .menu-item .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%; }
    body.page-template-menu .menu-item .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body.page-template-menu .menu-item .photo a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      body.page-template-menu .menu-item .photo a:hover span.pdf {
        opacity: 1; }
    body.page-template-menu .menu-item .photo .menu-photo {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    body.page-template-menu .menu-item .photo span.pdf {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      position: absolute;
      background: rgba(47, 46, 45, 0.75);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      body.page-template-menu .menu-item .photo span.pdf img {
        width: 100%;
        max-width: 48px; }
  body.page-template-menu .menu-item .info {
    padding: 15px 0 0 0; }
    body.page-template-menu .menu-item .info a.title {
      font-size: 1.5em; }

body.page-template-group-dining section.group-dining {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-group-dining section.group-dining {
      padding: 100px 0; } }

body.page-template-group-dining .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0 0 0; }
  body.page-template-group-dining .gallery .photo {
    width: 100%; }
    body.page-template-group-dining .gallery .photo + .photo {
      padding-top: 10px; }
    @media screen and (min-width: 568px) {
      body.page-template-group-dining .gallery .photo {
        width: 32.3333%; }
        body.page-template-group-dining .gallery .photo + .photo {
          padding-top: 0; } }

body.page-template-group-dining .copy {
  padding: 75px 0 25px 0;
  max-width: 960px;
  margin: 0 auto;
  text-align: center; }
  body.page-template-group-dining .copy p {
    font-size: 1.5em;
    line-height: 1.25em; }
    @media screen and (min-width: 768px) {
      body.page-template-group-dining .copy p {
        font-size: 1.75em; } }
    body.page-template-group-dining .copy p + p {
      padding: 25px 0 0 0; }

body.page-template-group-dining .contact-info {
  padding: 50px 0 0 0;
  max-width: 720px;
  margin: 25px auto 0 auto;
  border-top: 1px solid;
  text-align: center; }
  body.page-template-group-dining .contact-info p {
    font-size: 1.25em;
    line-height: 1.25em; }
    @media screen and (min-width: 768px) {
      body.page-template-group-dining .contact-info p {
        font-size: 1.375em; } }
    body.page-template-group-dining .contact-info p + p {
      padding: 25px 0 0 0; }
  body.page-template-group-dining .contact-info .brochure {
    padding: 50px 0 0 0; }
    body.page-template-group-dining .contact-info .brochure .cta {
      display: inline-block;
      text-transform: uppercase;
      border: 1px solid;
      padding: 12px 20px 10px 20px;
      border-radius: 4px; }

body.page-template-marketplace section.marketplace {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-marketplace section.marketplace {
      padding: 100px 0; } }
  body.page-template-marketplace section.marketplace .section-header {
    padding: 0 0 50px 0;
    text-align: center; }
    body.page-template-marketplace section.marketplace .section-header .description {
      padding-top: 25px;
      max-width: 800px;
      margin: 0 auto; }
      body.page-template-marketplace section.marketplace .section-header .description p {
        line-height: 1.375em; }
  body.page-template-marketplace section.marketplace section#shop {
    display: grid;
    gap: 50px 25px;
    grid-template-columns: repeat(1, 1fr); }
    @media screen and (min-width: 568px) {
      body.page-template-marketplace section.marketplace section#shop {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 768px) {
      body.page-template-marketplace section.marketplace section#shop {
        grid-template-columns: repeat(3, 1fr); } }
    body.page-template-marketplace section.marketplace section#shop .shop-item {
      text-align: center; }
      body.page-template-marketplace section.marketplace section#shop .shop-item .photo a {
        display: block;
        position: relative; }
      body.page-template-marketplace section.marketplace section#shop .shop-item .info {
        padding: 10px 0 0 0; }
        body.page-template-marketplace section.marketplace section#shop .shop-item .info a.title {
          font-size: 1.25rem; }
      body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo {
        position: relative;
        border: 2px dashed;
        border-radius: 5px; }
        body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 64.375%; }
        body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo .content {
          display: flex;
          justify-content: center;
          align-items: center; }
          body.page-template-marketplace section.marketplace section#shop .shop-item.coming-soon .photo .content span {
            display: block;
            font-size: 1.25rem;
            font-style: italic; }
