section#announcement {
	
	@include tablet-portrait {
		position: sticky;
		top: 0;
		z-index: 10000;
	}

	.wrapper {
		max-width: 100%;
		padding: 0;
	}

	.announcement-wrapper {
		padding: 14px 10px 10px 10px;
		text-align: center;

		p {
			line-height: 1.375em;
			font-size: 0.875rem;

			@include tablet-portrait {
				font-size: 1rem;
			}

			a {
				text-decoration: underline;
			}
		}
	}
}