section#heavy-at-home {
	transition: all 0.2s easein;

	&.show {
		.overlay {
			z-index: 100000;
			opacity: 1;
		}
	}

	.overlay {
		&-wrapper {
			width: 100%;
		}
	}

	.info {

		& > * {
			font-family: $brandon !important;
		}

		.headline {
			h1 {
				text-align: center;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 2rem;

				@include tablet-portrait {
					font-size: 3rem;
				}
			}
		}

		.copy {
			padding-top: 25px;
			text-align: center;

			p {
				font-size: 1.25rem;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.875rem;
				}

				& + p {
					padding-top: 20px;
				}

				a {
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}

		.cta {
			padding-top: 25px;
			text-align: center;

			.btn {
				display: inline-block;
				color: $blue;
				display: inline-block;
				padding: 12px 24px 10px 24px;
				font-size: 1.25rem;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-weight: bold;
				border: 2px solid;

				&:hover {
					background: $blue;
					border-color: $blue;
					color: $white;
				}
			}
		}		
	}
}