.overlay {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(47, 46, 45, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&.show {
		opacity: 1;
		z-index: 10000;
	}
}

.overlay-wrapper {
	background: $white;
	max-width: 640px;
	padding: 50px;
	border-radius: 2px;
	box-shadow: 0 0 24px rgba(47, 46, 45, 0.5);
	max-height: 100vh;
	overflow: scroll;
}

.close {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 2em;
}