.popup {
	position: absolute;
	top: -56px;
	left: -8px;
	width: auto !important;
	z-index: 10;

	@include tablet-landscape {
		top: -64px;
		left: -8px;
	}

	&-link,
	&-trigger {
		background: $white;
		color: $black;
		font-family: sans-serif;
		border-radius: 50%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
		width: 84px;
		height: 84px;
		font-size: 0.875rem;
		padding: 5px;

		&:hover {
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
		}

		@include desktop {
			width: 96px;
			height: 96px;
			font-size: 1rem;
			padding: 10px;
		}
	}
}

.popup-overlay {
	display: none;
	.overlay-wrapper {
		padding: 10px;

		&.photo-and-text {
			padding: 20px;
		}
	}

	.close {
		z-index: 15;
		color: $black;
	}

	.info {
		width: 100%;
		text-align: left;
		padding: 20px 0 0 0;

		.headline {
			h3 {
				font-size: 1.5rem;
				line-height: 1em;
				padding: 0;
				font-family: sans-serif;
				color: $black;

				@include tablet-portrait {
					font-size: 1.75rem;
				}
			}

			& + .sub-headline {
				padding-top: 10px;
			}
		}

		.sub-headline {
			h4 {
				font-weight: bold;
				line-height: 1.25em;
				font-family: sans-serif;
				color: $black;
			}

		}

		.copy {
			padding-top: 10px;

			p {
				font-family: sans-serif;
				color: $black;
			}
		}

		.btn {
			padding-top: 30px;
			a {
				display: inline-block;
				padding: 12px 16px 10px 16px;
				font-size: 1.125rem;
				text-transform: lowercase;
				letter-spacing: 0.05em;
				font-weight: bold;
				border: 1px solid;
				color: $black;
				font-family: sans-serif;
			}			
		}
	}

}

body.popup-overlay-open {
	overflow: hidden;
}